In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn.metrics import accuracy_score

In [9]:
#Import dataset
dataset=pd.read_csv('train.csv',header=None)
test_data=pd.read_csv('test.csv',header=None) 
label_data=pd.read_csv('test_labels.csv',header=None)
label_data

     0
0    9
1    4
2    7
3    1
4    7
5    6
6    6
7    4
8    2
9    3
10   5
11   1
12   6
13   4
14   7
15   9
16   5
17   1
18   5
19   3
20   8
21   5
22   4
23   6
24   0
25   9
26   6
27   8
28   2
29   7
..  ..
970  8
971  1
972  6
973  3
974  5
975  4
976  9
977  7
978  9
979  4
980  6
981  6
982  4
983  4
984  8
985  0
986  8
987  5
988  8
989  9
990  6
991  2
992  6
993  5
994  0
995  2
996  0
997  4
998  9
999  7

[1000 rows x 1 columns]

In [4]:
#Location x is independent(label) and y is independent(vales)
x=dataset.iloc[:,:1]
y=dataset.iloc[:,1:]
z=test_data

In [5]:
#Putting the first row into label and second into pixels
pixel=pd.DataFrame(y).to_numpy()
label=pd.DataFrame(x).to_numpy()
test_pixel=pd.DataFrame(z).to_numpy()
test_label=pd.DataFrame(label_data).to_numpy()

label_list=[]
for i in range(0,999):
    lb=test_label[i]
    label_list.append(lb)
# label_list

In [8]:
# Distance between first and all other rows

list2=[]
for i in range(0,100):
    list1=[]
    neighbors = []
    m=test_pixel[i]
    for j in range(1,4000):
        l=pixel[j]
        q=label[j]
        distance = math.sqrt(sum([(a - b) ** 2 for a, b in zip(l,m)]))
        list1.append((q,distance))
        
    list1.sort(key=lambda ele:ele[1])
    k=5
    for p in range(k):
        neighbors.append(list1[p][0])

    output_values = [row[-1] for row in neighbors]
    prediction = max(set(output_values), key=output_values.count) 
    list2.append(prediction)
list2    
# for i in range(len(list2)):
#     print(list2[i])

[9,
 4,
 7,
 1,
 7,
 6,
 6,
 4,
 2,
 3,
 5,
 1,
 6,
 4,
 7,
 9,
 3,
 1,
 5,
 3,
 8,
 5,
 4,
 6,
 0,
 9,
 6,
 3,
 2,
 7,
 8,
 6,
 6,
 5,
 6,
 6,
 5,
 7,
 9,
 3,
 9,
 0,
 7,
 6,
 7,
 5,
 1,
 9,
 1,
 1,
 7,
 7,
 9,
 1,
 4,
 9,
 0,
 3,
 2,
 9,
 6,
 7,
 9,
 6,
 4,
 3,
 9,
 5,
 9,
 2,
 8,
 4,
 7,
 2,
 1,
 4,
 6,
 0,
 1,
 9,
 2,
 3,
 1,
 4,
 2,
 0,
 3,
 5,
 6,
 1,
 2,
 3,
 9,
 6,
 0,
 3,
 2,
 8,
 4,
 2]

In [32]:
#Sorting based on the second index of the list
list1.sort(key=lambda ele:ele[1])
list1

[(array([9]), 2631.6855815237504)]

In [33]:
k=5
neighbors = []
for i in range(k):
    neighbors.append(list1[i][0])
    
neighbors

IndexError: list index out of range

In [25]:
output_values = [row[-1] for row in neighbors]
prediction = max(set(output_values), key=output_values.count)
print('Predicted class is : %s' % (prediction))

Predicted class is : 7